.body {
    margin: 0;
}


.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    color: rgb(19, 5, 5);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    /* Untuk memastikan sidebar tetap di atas konten */
    overflow-x: hidden;
    /* Untuk mengatasi masalah scrollbar horizontal */
}

.image-container {
    margin-top: 50px;

    /* Adjust the margin-top as needed */
}
